.Weather {
  border: 1px solid #ff754f;
  border-radius: 25px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
}

.Weather button {
  position: relative;
  bottom: 7px;
  background: #ff754f;
  color: white;
  border-radius: 50px;
  border: 1px solid #ff754f;
  font-size: 14px;
  font-family: "Baloo Chettan 2", cursive;
}

.city {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 36px;
  font-weight: 100;
  color: #3f3d56;
  margin: 0 auto;
  position: relative;
  bottom: 15px;
  padding-top: 10px;
}

.description {
  font-size: 14px;
  font-weight: 100;
  font-family: "Baloo Chettan 2";
  position: relative;
  bottom: 15px;
  text-transform: capitalize;
}

.Weather img {
  width: 35%;
  position: relative;
  bottom: 20px;
  right: 20px;
}

.temperature {
  font-size: 45px;
  font-weight: 400;
  color: #3f3d56;
  font-family: "Baloo Chettan 2";
  position: relative;
  bottom: 15px;
  right: 25px;
}

.WeatherTemperature .unit {
  position: relative;
  right: 20px;
  bottom: 40px;
  font-size: 12.5px;
  font-family: "Baloo Chettan 2";
}

.Weather .humidity {
  font-size: 18px;
  color: #3f3d56;
  font-family: "Baloo Chettan 2";
  list-style: none;
  position: relative;
  left: 60px;
  bottom: 15px;
}

.Weather .wind {
  font-size: 18px;
  color: #3f3d56;
  font-family: "Baloo Chettan 2";
  padding-top: 5px;
  list-style: none;
  position: relative;
  left: 55px;
  bottom: 15px;
}

.date {
  font-size: 16px;
  color: #ff744e;
  font-family: "Baloo Chettan 2";
  list-style: none;
  position: relative;
  left: 115px;
  top: 27px;
  letter-spacing: 1px;
}

.icon {
  position: relative;
  left: 320px;
  top: 20px;
}

#forecast-icon {
  position: relative;
  right: 23px;
  bottom: 30px;
}

.Weather .weather-forecast-temperature {
  font-size: 18px;
  color: #3f3d56;
  position: relative;
  bottom: 20px;
}
