.Weather {
  border: 1px solid #fa8c80;
  border-radius: 25px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  background: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

.temperature {
  font-size: 45px;
  font-weight: 400;
  position: relative;
  right: 5px;
  bottom: 15px;
  color: #3f3d56;
}
.Weather .units {
  position: relative;
  left: 5px;
  bottom: 35px;
  font-size: 12.5px;
}

.Weather .units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.Weather .units .active:hover {
  text-decoration: none;
  color: #0356b3;
}

#conditions {
  position: relative;
  bottom: 30px;
  font-size: 24px;
  color: #3f3d56;
  font-family: "Baloo Chettan 2";
  font-style: italic;
}

#conditions2 {
  position: relative;
  bottom: 50px;
  font-size: 24px;
  color: #3f3d56;
  font-family: "Baloo Chettan 2";
  padding-top: 5px;
  font-style: italic;
}

#weather-conditions {
  font-style: italic;
  left: 10px;
  top: 10px;
}

#current-button {
  background: #f99084;
  color: white;
  border-radius: 50px;
  border: 1px solid #f3a39b;
  font-size: 14px;
  font-family: "Baloo Chettan 2", cursive;
}

#icon {
  position: relative;
  right: 10px;
  top: 10px;
}

#background-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
  bottom: 70px;
  left: 55px;
}

#forecast-icon {
  position: relative;
  right: 23px;
  bottom: 30px;
}

.Weather .weather-forecast-temperature {
  font-size: 18px;
  color: #3f3d56;
  position: relative;
  bottom: 20px;
}
